name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install PHP and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install php-cli php-mbstring php-xml unzip -y

      - name: Install Joomla
        run: |
          wget https://downloads.joomla.org/cms/joomla4/4-0-0/Joomla_4-0-0-Stable-Full_Package.zip
          unzip Joomla_4-0-0-Stable-Full_Package.zip -d joomla_test

      - name: Initialize Git repository
        run: |
          cd joomla_test
          git init
          git config user.name "kishore1278"
          git config user.email "yuvadonadi17@gmail.com"
          git add .
          git commit -m "Initial commit"

      - name: Push to GitHub
        run: |
          cd joomla_test
          git remote add origin https://github.com/kishore1278/joomla_test.git
          git push -u origin main
