name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest


    steps:
    - name: Install PHP and dependencies
      run: |
          sudo apt-get update
          sudo apt-get install php-cli php-mbstring php-xml unzip -y

    - name: Install Joomla
      run: |
          wget https://downloads.joomla.org/cms/joomla4/4-0-0/Joomla_4-0-0-Stable-Full_Package.zip
          unzip Joomla_4-0-0-Stable-Full_Package.zip -d joomla_test
    
       
          
       
